<form action="/hogwarts_students" method="post">

  <label for="first-name-field">First Name</label>
  <input type="text" name="first_name" id= first-name-field />

  <label for="last-name-field">Last Name</label>
  <input type="text" name="last_name" id= last-name-field />

  <label for="house-field">House</label>
  <select name="house" id=house-field>
    <option value="" diabled selected>Choose</option>
    <option value="Gryffindor">Gryffindor</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Slytherian">Slytherian</option>
    <option value="Ravenclaw">Ravenclaw</option>
  </select>

  <label for="age-field">Age</label>
  <input type="number" name="age" min="10" max="20" id="age-field">

  <input type="submit" value="Add Student">

</form>
